/* =========================
   4. HERO
========================= */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 5%;
}

.hero-content {
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 3rem;
}

.hero-text span {
    color: var(--text--soft);
}

.hero-text p {
    color: var(--text-soft);
    margin: 20px 0;
}

.hero-imagen {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-imagen img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: var(--shadow);
}

.hero-text a {
    color: rgb(0, 0, 0);
    background-color: rgba(0, 252, 0, 0.911);
}